.team-area {
  padding: 80px 0;
}

.profile-wrap {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 5px #06092226;
  margin: 0 auto 50px;
  text-align: center;
  transition: all 0.5s ease-in-out 0s;
  transition: all 0.3s linear;
}

body.dark-mode .profile-wrap {
  box-shadow: 0px 0px 10px 5px #e4e4e426;
}

.profile-wrap:hover .profile-social {
  visibility: visible;
  opacity: 1;
  bottom: 25%;
}

.profile-img-top img {
  width: 100%;
}

.profile-body {
  text-align: center;
  padding: 2rem 0;
}

.profile-social {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear;
}

.profile-social a i {
  padding: 8px;
  width: 35px;
  height: 35px;
  margin: 0;
  background: #09aff4;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  transition: all 0.3s linear;
}

.profile-social a:hover i {
  color: #fff;
  background: #001a27;
  margin: 0;
}
